body {
    color: rgb(255, 255, 255);
    background: rgb(156, 8, 8);
    font-family: "Chakra Petch", sans-serif;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(156, 8, 8);
    padding: 20px;
    font-size: 32px;
    color: rgb(255, 255, 255);
}

.chamada {
    background: rgb(160, 14, 14);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;

}

.chamada-texto {
    margin-right: 20px;
}

h1 {
    font-size: 40px;
}

p {
    font-size: 50px;
}


.categoria-videos {
    display: flex;
    overflow-x:auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
}
.categoria-videos img {
    padding: 0,5;
    height:200px;
}
.categoria-videos img:hover{
    opacity: 2,0;
    border:5px solid rgb(156, 87, 8)
}
.categoria h2{
    color:rgb(156, 87, 8)
}